argon2-cffi @ file:///C:/ci/argon2-cffi_1613037869401/work
astroid @ file:///C:/ci/astroid_1628063282661/work
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
backcall==0.2.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
Bottleneck @ file:///C:/ci/bottleneck_1607557040328/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831756778/work
chardet @ file:///D:/bld/chardet_1610093673558/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1626371162869/work
click @ file:///D:/bld/click_1621503904640/work
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cryptography @ file:///D:/bld/cryptography_1616851819782/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Cors @ file:///home/conda/feedstock_root/build_artifacts/flask-cors_1622383494577/work
gunicorn==19.6.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
imutils==0.5.4
ipykernel @ file:///C:/ci/ipykernel_1607454116140/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1617120911285/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1625834821980/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jedi @ file:///C:/ci/jedi_1606932640618/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter @ file:///C:/ci/jupyter_1607685287094/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213515523/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099953470/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529288960/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
matplotlib @ file:///D:/bld/matplotlib-suite_1620506140045/work
mccabe==0.6.1
mistune @ file:///C:/ci/mistune_1607359457024/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
nbconvert==5.5.0
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1618932666659/work
notebook @ file:///C:/ci/notebook_1621625801656/work
numexpr @ file:///C:/ci/numexpr_1618856728739/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-contrib-python==4.5.3.56
packaging==20.4
pandas @ file:///C:/ci/pandas_1618365625310/work
pandocfilters @ file:///C:/ci/pandocfilters_1605114832805/work
parso==0.7.0
patsy==0.5.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1625663294916/work
prometheus-client==0.8.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1602524994744/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pylint @ file:///C:/ci/pylint_1627536884966/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1625052426389/work
PySocks @ file:///D:/bld/pysocks_1610291737679/work
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty @ file:///C:/ci/pywinpty_1607419945780/work
pyzmq==20.0.0
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
regex @ file:///D:/bld/regex_1628024752576/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1626393743643/work
scikit-learn @ file:///C:/ci/scikit-learn_1614446712466/work
scipy @ file:///C:/bld/scipy_1624825047559/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sip==4.19.13
six==1.15.0
statsmodels @ file:///D:/bld/statsmodels_1612273747431/work
terminado==0.9.4
testpath==0.4.4
textblob==0.15.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1626092076920/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1627689047698/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
widgetsnbextension @ file:///C:/ci/widgetsnbextension_1607531582688/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147566412/work
wincertstore==0.2
wrapt @ file:///C:/ci/wrapt_1607574570428/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
